# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.env/

# DVC - actual data and model files (tracked by DVC, not Git)
/data/iris.csv
/models/random_forest.pkl

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# pip
*.egg-info/
dist/
build/
